.formTitle {
	color: #2665c4;
	font-size: 18px;
	text-align: left;
	padding-left: 30px;
}

.rfa_textinput {
	border-top: 0px;
	border-right: 0px;
	border-left: 0.5px solid #2665c4;
	border-bottom: 0.5px solid #2665c4;
	border-radius: 5px;
	padding: 8px;
}

.stripecctextinput {
	border-top: 0px;
	border-right: 0px;
	border-left: 0.5px solid #2665c4;
	border-bottom: 0.5px solid #2665c4;
	border-radius: 5px;
	padding: 10px;
}

.readonlytextinput {
	border-top: 0px;
	border-right: 0px;
	border-left: 0.5px solid #2665c4;
	border-bottom: 0.5px solid #2665c4;
	border-radius: 5px;
	padding: 10px;
	background-color: #aeaeae80;
}

.rfa_input-container {
	display: inline-block;
	margin: 12px;
}

#stripCCContainer {
	margin: 8px;
}

.rfa_label {
	color: #2665c4;
	position: absolute;
	margin-top: -15px;
	margin-left: 10px;
	font-size: 12px;
}

.rfa_input-error {
	color: red;
	font-size: 10px;
	margin-left: 20px;
	/* margin-top: 60px; */
	position: absolute;
}

#user-notify {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: row2-end;
	margin: 12px;
}

.error-msg {
	color: red;
}

.success-msg {
	color: #2665c4;
}

.rfa_submit {
	margin: 0px;
	padding: 3px 18px 3px 18px;
	cursor: pointer;
	background-color: white;
	border-radius: 5px;
	border-color: #2665c4;
	border-style: solid;
	border-width: 2px;
}

.rfa_button-div {
	margin-left: 12px;
	margin-top: 20px;
}

.text {
	color: #2665c4;
	font-size: 12px;
}
