#home-container {
    display: grid;
    grid-template-columns: 30% auto 30%;
    grid-template-rows: 20% auto;
    padding: 10px;
}

#pay-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

#nav-pane {
    border: .5px solid #2665C4;
    border-radius: 5px;
    width: 20%;
    margin: 5px;
}

.nav {
    color: #2665C4;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    text-decoration: none;
}

.userNotify{
    color: red;
}